{% extends 'base.html' %}
{% block content %}

<head>
    <h1>Edit Existing Member</h1>
</head>
<form class="form_layout" action="/members/{{member.id}}" method="post">

    <div class="form_element">
        <label for="name"></label>
        <input type="text" name="name" value="{{member.name}}" />
    </div>

    <div class="form_element">
        <label for="address"></label>
        <input type="text" name="address" value="{{member.address}}" />
    </div>

    <div class="form_element">
        <label for="postcode"></label>
        <input type="text" name="postcode" value="{{member.postcode}}" />
    </div>

    <div class="form_element">
        <label for="telno"></label>
        <input type="text" name="tel_no" value="{{member.tel_no}}" />
    </div>

    <div class="form_element">
        <label for="email"></label>
        <input type="text" name="email" value="{{member.email}}" />
    </div>

    <div class="form_element">
        <label for="dob"></label>
        <input type="text" name="dob" value="{{member.dob}}" />
    </div>

    
    <button class="btn" type="submit">Update Member</button>

</form>


{% endblock %}