{% extends 'base.html' %}

{% block content %}

    <a class="btn" href="/members/new">New Member</a>


<h1> All Members </h1>

{% for member in members %}

<div class="member">
    <div class="member-container">

        <hr>
        <div class="members">
            <p><a href="/members/{{ member.id }}"> {{ member.name }}</a></p>
            <p>Address: {{member.address}} Postcode: {{ member.postcode }} </p>
           <hr>
            <p>Tel No: {{member.tel_no}} </p>
            <p>Email: {{member.email}} </p>
            <p>Date of Birth: {{member.dob}}</p>
            <hr>
            <p> Premium Member: {{member.premium}} </p>
            <p>Win: {{ member.win }} Loss: {{ member.loss}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}