{% extends 'base.html' %}

{% block content %}
<head>
<h1>Add New Member</h1>
</head>

<form class="form_layout" action="/members" method="post">

<div class="form_element">
<label for="name"></label>
<input type="text" name="name" placeholder="Full Name"/>
</div>

<div class="form_element">
<label for="address"></label>
<input type="text" name="address" placeholder="Address"/>
</div>

<div class="form_element">
<label for="postcode"></label>
<input type="text" name="postcode" placeholder="Postcode"/>
</div>

<div class="form_element">
<label for="telno"></label>
<input type="text" name="tel_no" placeholder="Tel No"/>
</div>

<div class="form_element">
<label for="email"></label>
<input type="text" name="email" placeholder="Email"/>
</div>

<div class="form_element">
<label for="dob"></label>
<input type="text" name="dob" placeholder="Date of Birth"/>
</div>

<div class="form_element">
<label for="premium">Premium:</label>
<select id="premium" name="premium">
<option value="true">True</option>
<option value="false">False</option>
</select>
</div>

<button class="btn" type="submit">Add Member</button>


</form>







{% endblock %}