{% extends 'base.html' %}

{% block content %}

<div class="member-wrapper">
    <div class="single-member">
        <p>ID:{{member.id}}</p>

        <h3> Member Name: {{member.name}}</h3>

        <p>Address: {{member.address}}</p>
        <p>Contact Tel No: {{member.tel_no}}</p>
        <p>Email Address: {{member.email}}</p>


        <a class="btn edit-btn" href="/members/{{member.id}}/edit">Edit</a>

        <hr>
        <p>Premium: {{member.premium}}</p>
        <p>Wins: {{member.wins}}</p>
        <p>Loses: {{member.loss}}</p>
    </div>

    <div class="courts-booked">
        <h3>Courts Booked</h3>
        {% for court in courts %}
        <p> Court No: {{ court.court_no }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}