{% extends 'base.html' %}

{% block content %}

<p class="btn-wrapper">
    <a class="btn_action" href="/bookings/new">New Booking</a>
</p>
<head>
<h3>Bookings</h3>
</head>





<p class="booking-container"></p>


    {% for booking in bookings %}
    
        <p>  Court No: {{ booking.court.court_no }} Member: {{booking.member.name}} </p>
         <p>
            <form action="bookings/{{ booking.id }}/delete" method="post">
                <input class="delete_btn" type="submit" value="delete" />
            </form>
        </p>
        
    
    <hr>
    {% endfor %}


 {% endblock %}