{% extends 'base.html' %}

{% block content %}

    <a class="btn" href="/bookings/new">New Booking</a>

<h1>Bookings</h1>






<div class="courts-booked">


    {% for booking in bookings %}
    
        <p>  Court No: {{ booking.court.court_no }} Member: {{booking.member.name}} </p>
         <p>
            <form action="bookings/{{ booking.id }}/delete" method="post">
                <input class="delete-btn" type="submit" value="delete" />
            </form>
        </p>
        
    
    <hr>
    {% endfor %}
</div>

 {% endblock %}