{% extends 'base.html' %}

{% block content %}

<head>
<h1>New Booking</h1>
</head>
<div class="booking-form">
<form action="/bookings/type" method="post">
    <label for="type">Select Booking Type:</label>
    <select name="type" id="type">
        <option value="singles">Singles</option>
        <option value="doubles">Doubles</option>
    </select>


    <label for="court">Select Court:</label>
    <select name="court_id" id="court_no">
        {% for court in courts %}
        <option value="{{ court.id }}">{{court.court_no}} {{ court.surface }}</option>
         
        {% endfor %}
    </select>



    <input class="btn" type="submit" value="Confirm type"/>
</form>
</div>





    {# <label for="member">Select Member:</label>
    <select name="members" id="members" multiple>
    {% for member in members %}
        <option value="{{ member.id }}">{{member.name}}</option>
        
    {% endfor %} 
    </select> #}


{% endblock %}