{% extends 'base.html' %}
{% block content %}


<head>
    <h3>Edit Court</h3>
</head>

<p>Court No: {{court.court_no }} Court Surface: {{court.surface }}</p>
<form class="form_layout" action="/courts/{{ court.id }}" method="post">

    <div class="form_element">
        <label for="court_no">Court No:</label>
        <input type="text" name="court_no" value="{{court.court_no}}" />
    </div>

    <div class="form_element">
        <label for="surface">Court Surface:</label>
        <select id="surface" name="surface" value="{{court.surface}}">
            <option value="Grass">Grass</option>
            <option value="Clay">Clay</option>
            <option value="Hard">Hard</option>
            <option value="Artificial">Artificial Grass</option>
            </select>
    </div>

    <div class="update_btn">
    <button type="submit">Update Court</button>
    </div>
</form>

{% endblock %}