{% extends 'base.html' %}

{% block content %}


<hr>
<div class="member-wrapper">
    <div class="single-member"> ID: {{court.id }}
        <p> Court No: {{ court.court_no }} Court Surface: {{ court.surface }}</p>
        
        <a class="edit-btn"
            href="/courts/{{court.id}}/edit">Edit</a>
        

    </div>



    <div class="courts-booked">
        {% for member in members %}
        <p> Currently Booked By: {{ member.name }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}