<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css' )}}">

    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <title> Servivors Tennis Club</title>

</head>

<header>
        <nav>
            <ul class="nav_links">

                <button><a href="/">Home</a></button>
                <button><a href="/members">Members</a></button>
                <button><a href="/courts">Courts</a></button>
                <button><a href="/bookings">Bookings</a></button>

            </ul>
        </nav>

</header>



        <hr>



        {# <section id="main-content"> #}
            {% block content %}

            {% endblock %}

        {# </section> #}
    {# </main>
</body> #}

<hr>
<footer>
<h3>Design by - CodeCarmenCita &copy; 2023</h3>
</footer>





</html>