<html>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css' )}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Tektur:wght@500&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tektur:wght@500&display=swap"
    rel="stylesheet">

<body>
    <style>
        body {

            background-image: url(/static/images/homepage.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


    <img class='logo' src="../static/images/logohome.png" alt="logo">

    <div class="btn-container">
        <div class='grid-item'>
            <button type='button' id='b1'><a href="/">Home</a></button>
        </div>
        <div class='grid-item'>
            <button type='button' id='b2'><a href="/members">Members</a></button>
        </div>
        <div class='grid-item'>
            <button type='button' id='b3'><a href="/courts">Courts</a></button>
        </div>
        <div class='grid-item'>
            <button type='button' id='b4'><a href="/bookings">Bookings</a></button>
        </div>
    </div>

    </div>
</body>
<footer>


    <h3>Design by - CodeCarmenCita &copy; 2023</h3>
</footer>

</html>

{# {% extends "base.html" %} #}

{# {% block content %} #}



{# {% endblock %} #}